!!!

%html
  %head
    %meta{ content:"text/html;charset=UTF8","httpequiv":"ContentType"}
    %title AwesomeEvents
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag "application", media:"all", "dataturbolinkstrack": "reload"
    =javascript_pack_tag "application", "dataturbolinkstrack": "reload"
  %body
    %header.navbar.navbarexpandsm.navbarlight.bglight
      .container
        =link_to"AwesomeEvents", root_path, class:"navbarbrandmrauto"
        %ul.navbarnav
          %li.navitem
            =link_to "GitHubでログイン", "/auth/github", class:"navlink", method: :post
    .container
      - if flash.notice
        .alert.alert-success
          = flash.notice
      =yield


